Source: homeschool-mathtimer
Section: misc
Priority: optional
Maintainer: israeldahl <israeldahl@gmail.com>
Build-Depends:
 debhelper (>= 9.0.0),
 cmake,
 gcc-multilib [amd64],
 g++-multilib [amd64],
 libc6,
 libfltk-images1.3,
 libfltk1.3,
 libfltk1.3-dev,
 libfltk1.3-compat-headers,
 libgcc1,
 libstdc++6,
 libstdc++-5-dev | libstdc++6-4.7-dev,
 libx11-dev,
 libxpm-dev,
 fluid,
 pkg-config,
Standards-Version: 3.9.7
Homepage: 

Package: homeschool-mathtimer
Replaces: math-timer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: math-timer
  Beat the clock to complete various math problems before time runs out!

