[Desktop Entry]
Name=Math Timer
Name[en_US]=Math Timer
GenericName=Math program to test skills
Comment=Beat the clock to complete various math problems before time runs out!
Icon=homeschool-mathtimer
Exec=homeschool-mathtimer
Terminal=false
Type=Application
Categories=Education;

